name: AWS OIDC Auth Test

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  auth-test:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::114118973103:role/github-actions-ecs-deployer
          aws-region: us-east-2

      - name: Who am I?
        run: aws sts get-caller-identity
